# {{ ansible_managed }}
# SPDX-FileCopyrightText: 2025 Alexander Dahl <post@lespocky.de>
# SPDX-License-Identifier: CC0-1.0

{% if apt_sources_unstable %}
{% set sources = apt_sources.debian_unstable %}
{% elif ansible_distribution_major_version|int <= apt_sources_debian_archive_up_to_ver %}
{% set sources = apt_sources.debian_archive %}
{% else %}
{% set sources = apt_sources.debian %}
{% endif %}

{% for source in sources %}
{% for suite in source.suites %}
{% for type in source.types %}
{{ type }} http://{{ source.uri.host }}{% if source.uri.port != 80 %}:{{ source.uri.port }}{% endif %}/{{ source.uri.path }}/ {{ suite }} {{ source.components|join(' ') }}
{% endfor %}

{% endfor %}
{% endfor %}
