{{ ansible_managed | comment }}
# SPDX-FileCopyrightText: 2025 Alexander Dahl <post@lespocky.de>
# SPDX-License-Identifier: CC0-1.0

{% for source in apt_sources.ubuntu %}
Types: {{ source.types|join(' ') }}
URIs: http://{{ source.uri.host }}{% if source.uri.port != 80 %}:{{ source.uri.port }}{% endif %}/{{ source.uri.path }}/
Suites: {{ source.suites|join(' ') }}
Components: {{ source.components|join(' ') }}
Signed-By: /usr/share/keyrings/ubuntu-archive-keyring.gpg

{% endfor %}
