# {{ ansible_managed }}
# SPDX-FileCopyrightText: 2025 Alexander Dahl <post@lespocky.de>
# SPDX-License-Identifier: CC0-1.0

Types: deb
#URIs: http://de.archive.ubuntu.com/ubuntu/
URIs: {{ apt_sources_uri }}/ubuntu/
Suites: {{ ansible_distribution_release }} {{ ansible_distribution_release }}-updates {{ ansible_distribution_release }}-backports
Components: main restricted universe multiverse
Signed-By: /usr/share/keyrings/ubuntu-archive-keyring.gpg

Types: deb
#URIs: http://security.ubuntu.com/ubuntu/
URIs: {{ apt_sources_uri }}/ubuntu-security/
Suites: {{ ansible_distribution_release }}-security
Components: main restricted universe multiverse
Signed-By: /usr/share/keyrings/ubuntu-archive-keyring.gpg
